<mat-toolbar>
  <mat-icon color="accent" (click)="goBack()">{{'arrow_back'}}</mat-icon>
</mat-toolbar>
<mat-card color="primary">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{user?.id}}</mat-card-title>
    <mat-card-subtitle>{{user?.first_name}} {{user?.last_name}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="{{user?.avatar}}" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      {{user?.email}}
    </p>
  </mat-card-content>
</mat-card>
