/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;

body {
  margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: mat.get-color-from-palette(mat.define-palette(mat.$deep-purple-palette, 300));
}
html, body { height: 100%; }

.accent-color {
  color: #ffd740 !important;
}

