@use '@angular/material' as mat;

mat-card {
  min-width: 400px;
}
.mat-grid-tile-content {
  display: block !important;
}

mat-grid-list {
  background-color: mat.get-color-from-palette(mat.define-palette(mat.$purple-palette, 100));
}
