<mat-grid-list [cols]="breakpoint" (window:resize)="onResize($event)">
  <mat-grid-tile *ngFor="let item of itemResults$|async">
    <mat-card>
      <mat-card-title-group>
      <mat-card-title>
        <button mat-button color="accent" [routerLink]="['/users', item.id]">{{item.first_name}} {{item.last_name}}</button>
      </mat-card-title>
      <img mat-card-xl-image src="{{item.avatar}}" alt="User avatar">
      </mat-card-title-group>
  </mat-card>
  </mat-grid-tile>
</mat-grid-list>
<mat-spinner *ngIf="loading" style="margin:0 auto;"
             mode="indeterminate"></mat-spinner>

